*{
    margin: 10px 0;
    padding: 0;
}

body{
    /* background-color: #ff1f1fa9; */
    background: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    margin: 10px;
    height: 12vh;
    padding: 10px 30px;
    display: flex;
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */
    justify-content: space-between;
    align-items: center;
    /* border: solid red; */
}

.nav{
    position: sticky;
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    row-gap: 10px;
    column-gap: 35px;
    width: 50%;
    height: 100%;
    text-align: center;
    align-items: center;
}

/* .icon-img{
    position: absolute;
    border-radius: 50%;
    border: solid rgba(255, 255, 0, 0.692);
} */

.icon h1{
    /* font-family: "Sofia", sans-serif;
    font-family: "Audiowide", sans-serif; */
    font-family: "Trirong", serif;
    font-size: 30px;
}

.nav-button{
    box-shadow: 2px 3px 2px rgb(245, 65, 65);
    min-width: 90px;
    background-color: rgba(5, 253, 220, 0.726);
    /* margin: 0 30px; */
    padding: 10px 0;
    border-radius: 8px;
}


.nav-button a{
    font-size: larger;
    color: rgb(0, 47, 255);
    text-decoration: none;
}

.nav-button:hover > a{
    color: rgb(255, 0, 170);
    font-size: 30px;
    font-family: "Audiowide", sans-serif;
    /* font-family: "Sofia", sans-serif; */
    /* font-family: "Trirong", serif; */
} 

.nav-button:hover{
    background-color: rgba(255, 191, 41, 0.87);
    /* border-radius: 50% ; */
    transform: scale(1.1);
}

.register{
    height: 200px;
    width: 200px;
    margin-top: 15vh;
    margin-bottom: 35vh;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    position: relative;
    left: 50%;
    transform: translate(-60%);
    background: url('register.jpg');
    backface-visibility: calc(0.5);
    background-position: center;
    opacity: 0.9;
    background-size: cover;
    border: solid rgb(222, 245, 179);
    border-radius: 50%;
    font-size: larger;
}

.register a{
    color: rgb(217, 255, 2);
    font-family: "Sofia", sans-serif;
    text-decoration: none;
    font-size: 23px;
    text-align: center;
    padding-bottom: 15px;
}

#Home{
    height: 40vh;
    background-color: rgba(94, 133, 224, 0.246);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
    color: #ffff;
    font-size: 20px;
    font-weight: bolder;
}

.home ul,.home p{
    margin: 20px;
    list-style-position:inside;
}

.home h1,.home h2{
    text-align: center;
    color: rgb(0, 225, 255);
    margin: 10px;
    font-size: 28px;
    word-spacing: 5px;
    margin-bottom: 20px;
}

#Register{
    word-spacing: 7px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(123, 184, 107, 0.237);
    padding: 40px;
    font-size: 22px;
    min-height: 99vh;
}

#Register h2, #Register h1{
    text-align: center;
    /* color: rgb(226, 63, 144); */
    color: rgb(255, 140, 0);
}

textarea{
    vertical-align: top;
}


#About{
    font-size: 20px;
    overflow: hidden;
    color: #ffff;
    padding: 20px;
    /* background-color: rgba(127, 255, 212, 0.308); */
    background-color: rgba(169, 100, 175, 0.192);
    min-height:99vh;
    text-align: center;
}

#About h2{
    color: rgb(0, 225, 255);
    margin-bottom: 30px;

}

table{
    margin-top: 50px;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: 5px;
    border: solid rgb(251, 255, 0);
}

th,td{
	padding: 10px 2px;
}

th{
    color: rgb(0, 255, 191);
    outline: none;
    padding: 20px 5px;
}

#Adopt{
    padding-top: 10px;
    height: 200px;
    width: 100%;
    background-color: rgba(60, 158, 175, 0.26);
    min-height:99vh;
    min-width: 100px;
    color: rgb(21, 255, 0);
    text-align: center;
}

.adopt-table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register a:hover{
    transform: scale(1.4);
}

/* .register:hover{
    transform: scale(1.1) translate(-0%);
}

.register:hover > .register a{
    transform: scale(1.4);
} */

input:focus{
    font-size: large;
    border: solid 4px rgb(255, 187, 0);
    border-style:double;
    outline: none;
    transform: scale(1.05);
}

button{
    padding: 5px;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

footer{
    min-height: 10vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 59, 59);
}

section{
    overflow: auto;
}

footer{
    padding: 20px;
}
